@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.container{
    
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
body{
    bgcolor: black;
}